
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

prefabs/roof_tile.tscn

prefabs/wall_bathroom.tscn

prefabs/wall_corner_bathroom_IN.tscn

prefabs/wall_corner_bathroom_OUT.tscn

WARSZTAT/Cube086.mesh

WARSZTAT/Cube087.mesh

WARSZTAT/Cube088.mesh

WARSZTAT/Cube094.mesh

WARSZTAT/Cube096.mesh

WARSZTAT/Cube097.mesh

WARSZTAT/Cube102.mesh

WARSZTAT/Cube103.mesh

WARSZTAT/Cube104.mesh

WARSZTAT/Cube106.mesh

WARSZTAT/Cube108.mesh

WARSZTAT/Cylinder006.mesh

WARSZTAT/material_maker/bathroom_albedo.png

WARSZTAT/material_maker/bathroom_albedo.png.import

WARSZTAT/material_maker/bathroom_normal.png

WARSZTAT/material_maker/bathroom_normal.png.import

WARSZTAT/material_maker/bathroom.tres

WARSZTAT/temp7.glb

WARSZTAT/temp7.glb.import

WARSZTAT/wall_bath.glb

WARSZTAT/wall_bath.glb.import

WARSZTAT/Cube.mesh

WARSZTAT/Cube003.mesh

WARSZTAT/Cube006.mesh

WARSZTAT/Cube009.mesh

WARSZTAT/Cube011.mesh

WARSZTAT/Cube012.mesh

WARSZTAT/Cube014.mesh

WARSZTAT/Cube016.mesh

WARSZTAT/Cube018.mesh

WARSZTAT/Cube057.mesh

WARSZTAT/Cube093.mesh
